<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css') }}">
    <script src="js/prefixfree.min.js"></script> 
    <script type=text/javascript src="{{
  url_for('static', filename='javascript/prefixfree.min.js') }}"></script>
  </head>

  <body>

  <div class="login">
	 <h1>Register</h1>
    <form method="post" action="/post_user">
    	<input type="text" id= "username" name="username" placeholder="Username" required="required" value=""/>
        <input type="password" id ="password" name="password" placeholder="Password" required="required" value=""/>
        <button type="submit" class="btn btn-primary btn-block btn-large" value="Login">Register</button>
    </form>

  </div>

  </body>
</html>
